* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg, sans-serif;
  background-color: #ffffff;
}

main .container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
  width: 1024px;
}
.container {
  width: 1135px;
  margin: 0 auto;
}

/*                    */
/*----- header  ---- */
/*                  */
header {
  height: 100px;
  display: flex;
  /* border-bottom: 1px solid grey; */
}
header .logo {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 200px;
}
.logo ul {
  display: flex;
  margin-left: auto;
}
ul div i {
  margin-right: 5px;
  border: black 1px;
  border-radius: 20px;
}
div p {
  color: #ffffff;
  background-color: black;
  border: solid black 2px;
  border-radius: 20px;
  padding: 0px 4px 5px 4px;
}
.logo ul div {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: transparent black 2px;
  border-radius: 20px;
}
.logo div:hover {
  /* background-color: aqua; */
  transform: scale(1.1);
}

/*                      */
/*                     */
/* ----- main ------- */
/*                   */
.paris {
  margin-top: 20px;
  font-size: 55px;
  font-weight: bolder;
}
.paris .Explorez {
  color: #ff5d5d;
}

ul {
  margin-top: 30px;
  display: flex;
  /* justify-content: space-between; */
}

ul li i {
  margin-left: 3em;
  justify-content: space-between;
  color: black;
}
ul li {
  border: solid black 1px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 10px;
  flex: 1;
  margin: 0 10px;
}
ul li:hover {
  transform: scale(1.1);
  background-color: black;
}
ul li i:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.picture-bloc {
  margin-top: 10px;
  height: 430px;
  margin-bottom: 10px;
  display: flex;
  gap: 2px;
}
.left-bloc {
  height: 100%;
  flex: 1;
}

.left-bloc img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.right-bloc {
  width: 50%;
  height: 100%;
}
.right-bloc > li {
  height: calc(50% - 1px);
  width: 100%;
}

.right-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navigation {
  margin: 20px 0px 40px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 35px;
  margin-top: 45px;
  font-weight: bolder;
}
.description {
  /* border: blue 2px solid; */
  display: flex;
  /* justify-content: space-between; */

  gap: 15%;
  padding-bottom: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  /* justify-content: flex-start; */
}
.leftblock {
  /* border: red 2px solid; */
  max-height: 100%;
  width: 50%;
  display: block;
}
.leftblock .paraph {
  margin: 20px 5px 15px 4px;
}
.rightblock {
  /* border: black solid 2px; */
  /* display: block; */

  border-radius: 25px;
}
.rightblock .img {
  /* border-radius: 25px; */
  background-color: #ff5d5d;
  /* align-items: flex-end; */
  /* border: green 2px solid; */
  height: 100%;
  width: 70%;
}
.rightblock .img button {
  background-color: black;
  padding: 15px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.img h3 {
  font-weight: bold;
  font-size: 26px;
  padding: 20px;
}
.img > p1 {
  padding: 20px;
}
.rightblock .plan img {
  object-fit: cover;
  height: 70%;
  width: 70%;
}
